<<<<<<< HEAD

=======
>>>>>>> 6116bd4938b52a1f011f4b621b1e3a35fee49a4d
h1{
    color:moccasin;
    text-align: center;
}
p{
    color:darkgreen;
<<<<<<< HEAD
    font-weight: bold;
    font-size: 18px;
=======
    font-weight: bold ;
    font-size:18px;
>>>>>>> 6116bd4938b52a1f011f4b621b1e3a35fee49a4d
}